<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MyGest</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="products">Products</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" routerLink="suppliers">Suppliers</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-0" *ngIf="keycloakService.kc.authenticated">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          {{ keycloakService.kc.tokenParsed.name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" (click)="logout()">Logout</a>
          <a class="nav-link" (click)="changePassword()">Change my password</a>
        </div>
    </ul>
    <li class="nav-item mr-0"
        *ngIf="!keycloakService.kc.authenticated">
      <a class="nav-link" (click)="login()">Login</a>
    </li>
  </div>
</nav>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>

